/*
  vocus / Calvin Da.
*/
/*
    variables
*/
/*
    base
*/
@font-face {
  font-family: 'Calibri';
  src: url("../font/Calibri-Bold.woff2") format("woff2"), url("../font/Calibri-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Calibri';
  src: url("../font/Calibri.woff2") format("woff2"), url("../font/Calibri.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Calibri", "Arial", sans-serif;
  font-weight: 400;
  background-color: white;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  word-wrap: break-word; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }
  * ul {
    padding: 0 !important; }
    * ul li {
      list-style: none; }

h2 {
  font-weight: 400;
  line-height: 1.3; }

button {
  border: none;
  background: transparent; }

a {
  color: #555; }
  a:hover {
    color: black; }

a:hover {
  cursor: pointer;
  text-decoration: none; }

a:visited, a:focus {
  text-decoration: none; }

.btn {
  border: 1px solid;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
  border-radius: 20px;
  padding: 3px 15px;
  border-radius: 5px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  -o-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear; }
  .btn:focus, .btn:hover {
    outline: none;
    color: #ffffff; }
  .btn.active, .btn:active {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .btn:focus:active {
    outline: none; }

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  background-color: #bdc3c7;
  color: rgba(255, 255, 255, 0.75);
  opacity: 0.7;
  filter: alpha(opacity=70);
  cursor: not-allowed; }

.btn [class^="fui-"] {
  margin: 0 1px;
  position: relative;
  line-height: 1;
  top: 1px; }

.btn-xs.btn [class^="fui-"] {
  font-size: 11px;
  top: 0; }

.btn-hg.btn [class^="fui-"] {
  top: 2px; }

.btn-default {
  color: #4A4A4A;
  background-color: transparent;
  border-color: #4A4A4A; }

.btn-default.active,
.btn-default.hover,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.btn-default:active:focus,
.open > .dropdown-toggle.btn-default {
  color: #4A4A4A;
  background-color: transparent;
  border-color: #4A4A4A; }

.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
  background: transparent;
  border-color: #4A4A4A; }

.btn-default.disabled,
.btn-default.disabled.active,
.btn-default.disabled.hover,
.btn-default.disabled:active,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled],
.btn-default[disabled].active,
.btn-default[disabled].hover,
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default.active,
fieldset[disabled] .btn-default.hover,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
  background-color: transparent;
  border-color: #4A4A4A; }

.btn-default .badge {
  color: #4A4A4A;
  background-color: transparent; }

.btn-primary {
  color: #fff;
  background-color: #E24B68;
  border: 1px solid #E24B68; }

.btn-primary.active,
.btn-primary.hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active:focus,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #b12a45;
  border-color: #b12a45; }

.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
  background: #b12a45;
  border-color: #b12a45; }

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.hover,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].hover,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.hover,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: #b12a45;
  border-color: #b12a45; }

.btn-primary .badge {
  color: #fff;
  background-color: #E24B68; }

.btn-info {
  color: white;
  background-color: transparent; }

.btn-info.active,
.btn-info.hover,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open > .dropdown-toggle.btn-info {
  color: white;
  background-color: transparent;
  border-color: white; }

.btn-info.active,
.btn-info:active,
.open > .dropdown-toggle.btn-info {
  background: transparent;
  border-color: white; }

.btn-info.disabled,
.btn-info.disabled.active,
.btn-info.disabled.hover,
.btn-info.disabled:active,
.btn-info.disabled:focus,
.btn-info.disabled:hover,
.btn-info[disabled],
.btn-info[disabled].active,
.btn-info[disabled].hover,
.btn-info[disabled]:active,
.btn-info[disabled]:focus,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info.active,
fieldset[disabled] .btn-info.hover,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:hover {
  background-color: transparent;
  border-color: white; }

.btn-info .badge {
  color: white;
  background-color: transparent; }

.btn-info-light {
  color: #3B3B3B;
  background-color: #DDDDDD;
  border-color: #DDDDDD; }

.btn-info-light.active,
.btn-info-light.hover,
.btn-info-light:active,
.btn-info-light:focus,
.btn-info-light:hover,
.open > .dropdown-toggle.btn-info-light {
  color: #AAAAAA;
  background-color: #DDDDDD;
  border-color: #DDDDDD; }

.btn-info-light.active,
.btn-info-light:active,
.open > .dropdown-toggle.btn-info-light {
  background: #DDDDDD;
  border-color: #DDDDDD; }

.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open > .dropdown-toggle.btn-info.focus,
.open > .dropdown-toggle.btn-info:focus,
.open > .dropdown-toggle.btn-info:hover {
  color: #3B3B3B;
  background-color: #DDDDDD;
  border-color: #DDDDDD; }

.btn-info-light.disabled,
.btn-info-light.disabled.active,
.btn-info-light.disabled.hover,
.btn-info-light.disabled:active,
.btn-info-light.disabled:focus,
.btn-info-light.disabled:hover,
.btn-info-light[disabled],
.btn-info-light[disabled].active,
.btn-info-light[disabled].hover,
.btn-info-light[disabled]:active,
.btn-info-light[disabled]:focus,
.btn-info-light[disabled]:hover,
fieldset[disabled] .btn-info-light,
fieldset[disabled] .btn-info-light.active,
fieldset[disabled] .btn-info-light.hover,
fieldset[disabled] .btn-info-light:active,
fieldset[disabled] .btn-info-light:focus,
fieldset[disabled] .btn-info-light:hover {
  background-color: #DDDDDD;
  border-color: #DDDDDD; }

.btn-info-light .badge {
  color: #3B3B3B;
  background-color: #DDDDDD; }

.btn-inverse {
  color: #ffffff;
  background-color: #3B3B3B; }

.btn-inverse.active,
.btn-inverse.hover,
.btn-inverse:active,
.btn-inverse:focus,
.btn-inverse:hover,
.open > .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #3B3B3B;
  border-color: #3B3B3B; }

.btn-inverse.active,
.btn-inverse:active,
.open > .dropdown-toggle.btn-inverse {
  background: #3B3B3B;
  border-color: #3B3B3B; }

.btn-inverse.disabled,
.btn-inverse.disabled.active,
.btn-inverse.disabled.hover,
.btn-inverse.disabled:active,
.btn-inverse.disabled:focus,
.btn-inverse.disabled:hover,
.btn-inverse[disabled],
.btn-inverse[disabled].active,
.btn-inverse[disabled].hover,
.btn-inverse[disabled]:active,
.btn-inverse[disabled]:focus,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse,
fieldset[disabled] .btn-inverse.active,
fieldset[disabled] .btn-inverse.hover,
fieldset[disabled] .btn-inverse:active,
fieldset[disabled] .btn-inverse:focus,
fieldset[disabled] .btn-inverse:hover {
  background-color: #ffffff;
  border-color: #3B3B3B; }

.btn-inverse .badge {
  color: #ffffff;
  background-color: #3B3B3B; }

.btn-danger {
  color: #ffffff;
  background-color: #e74c3c; }

.btn-danger.active,
.btn-danger.hover,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #ec7063;
  border-color: #ec7063; }

.btn-danger.active,
.btn-danger:active,
.open > .dropdown-toggle.btn-danger {
  background: #c44133;
  border-color: #c44133; }

.btn-danger.disabled,
.btn-danger.disabled.active,
.btn-danger.disabled.hover,
.btn-danger.disabled:active,
.btn-danger.disabled:focus,
.btn-danger.disabled:hover,
.btn-danger[disabled],
.btn-danger[disabled].active,
.btn-danger[disabled].hover,
.btn-danger[disabled]:active,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger.active,
fieldset[disabled] .btn-danger.hover,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:hover {
  background-color: #bdc3c7;
  border-color: #e74c3c; }

.btn-danger .badge {
  color: #e74c3c;
  background-color: #ffffff; }

.btn-success {
  color: #ffffff;
  background-color: #2ecc71; }

.btn-success.active,
.btn-success.hover,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #58d68d;
  border-color: #58d68d; }

.btn-success.active,
.btn-success:active,
.open > .dropdown-toggle.btn-success {
  background: #27ad60;
  border-color: #27ad60; }

.btn-success.disabled,
.btn-success.disabled.active,
.btn-success.disabled.hover,
.btn-success.disabled:active,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled],
.btn-success[disabled].active,
.btn-success[disabled].hover,
.btn-success[disabled]:active,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success.active,
fieldset[disabled] .btn-success.hover,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:hover {
  background-color: #bdc3c7;
  border-color: #2ecc71; }

.btn-success .badge {
  color: #2ecc71;
  background-color: #ffffff; }

.btn-warning {
  color: #ffffff;
  background-color: #f1c40f; }

.btn-warning.active,
.btn-warning.hover,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #f4d313;
  border-color: #f4d313; }

.btn-warning.active,
.btn-warning:active,
.open > .dropdown-toggle.btn-warning {
  background: #cda70d;
  border-color: #cda70d; }

.btn-warning.disabled,
.btn-warning.disabled.active,
.btn-warning.disabled.hover,
.btn-warning.disabled:active,
.btn-warning.disabled:focus,
.btn-warning.disabled:hover,
.btn-warning[disabled],
.btn-warning[disabled].active,
.btn-warning[disabled].hover,
.btn-warning[disabled]:active,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning.active,
fieldset[disabled] .btn-warning.hover,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:hover {
  background-color: #bdc3c7;
  border-color: #f1c40f; }

.btn-warning .badge {
  color: #f1c40f;
  background-color: #ffffff; }

.btn-embossed {
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15); }

.btn-embossed.active,
.btn-embossed:active {
  -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15); }

.btn-wide {
  min-width: 140px;
  padding-left: 30px;
  padding-right: 30px; }

.btn-link {
  color: #E24B68; }

.btn-link:focus,
.btn-link:hover {
  color: #b12a45;
  text-decoration: underline;
  background-color: transparent; }

.btn-link[disabled]:focus,
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .btn-link:hover {
  color: #bdc3c7;
  text-decoration: none; }

.btn-group-hg > .btn,
.btn-hg {
  padding: 6px 20px;
  font-size: 22px;
  line-height: 1.227;
  border-radius: 3px; }

.btn-group-lg > .btn,
.btn-lg {
  padding: 3px 25px;
  font-size: 18px;
  line-height: 1.471;
  border-radius: 3px; }

.btn-group-md > .btn,
.btn-md {
  padding: 6px 35px;
  font-size: 14px;
  line-height: 1.471;
  border-radius: 3px; }

.btn-group-sm > .btn,
.btn-sm {
  padding: 5px 13px;
  font-size: 13px;
  line-height: 1.385;
  border-radius: 3px; }

.btn-group-xs > .btn,
.btn-xs {
  padding: 5px 9px;
  font-size: 12px;
  line-height: 1.083;
  border-radius: 3px; }

.btn-tip {
  font-weight: 300;
  padding-left: 10px;
  font-size: 92%; }

.btn-block {
  white-space: normal; }

.button--xs {
  width: 14px;
  height: 14px; }
  .button--xs .icon {
    width: 8px;
    height: 8px; }

.button--smaller {
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px; }
  .button--smaller .icon {
    width: 20px;
    height: 20px; }

.button--small {
  width: 30px;
  height: 30px; }
  .button--small .icon {
    width: 25px;
    height: 25px; }

.buttonGroup {
  display: inline-block; }
  .buttonGroup .button--small {
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle; }
    .buttonGroup .button--small:last-child {
      margin-right: 0; }
  .buttonGroup .button--middle {
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle; }
    .buttonGroup .button--middle:last-child {
      margin-right: 0; }
  .buttonGroup .button--large {
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle; }
    .buttonGroup .button--large:last-child {
      margin-right: 0; }

.buttonwithLabel .button--middle {
  margin-right: 10px;
  width: auto; }
  .buttonwithLabel .button--middle .icon {
    width: 25px;
    height: 20px; }
  .buttonwithLabel .button--middle .buttonLabel {
    font-size: 18px;
    color: #757575;
    margin: 0 0 0 5px; }
    .buttonwithLabel .button--middle .buttonLabel.is-red {
      color: #C82639;
      font-size: 16px;
      margin: 0; }

.buttonwithLabel .button--small {
  margin-right: 10px;
  width: auto; }
  .buttonwithLabel .button--small .icon {
    width: 18px;
    height: 18px; }
  .buttonwithLabel .button--small .buttonLabel {
    font-size: 14px;
    color: #757575;
    margin: 0 0 0 2px; }
    .buttonwithLabel .button--small .buttonLabel.is-red {
      color: #C82639;
      font-size: 14px;
      margin: 0; }

.inline-list li {
  list-style: none;
  margin-right: 10px;
  float: left; }

.inline-list--footer li {
  margin-right: 20px;
  font-size: 14px; }

.main-menu {
  background-color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  opacity: 1;
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s; }
  .main-menu a {
    color: black;
    font-size: 16px; }
    .main-menu a:hover {
      text-decoration: underline; }
  .main-menu .brand-logo {
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: black;
    margin-left: 15px; }
    @media (max-width: 767px ) {
      .main-menu .brand-logo {
        font-size: 20px;
        margin: 0; } }
  .main-menu .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 20px; }
    .main-menu .menu-list li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 35px;
      font-size: 20px;
      margin-top: 6px; }
      .main-menu .menu-list li .active {
        color: black;
        font-weight: bold; }
    @media (max-width: 767px ) {
      .main-menu .menu-list {
        float: none;
        margin: 15px 0 0 0px; }
        .main-menu .menu-list li {
          font-size: 16px;
          margin: 0 10px;
          float: none;
          display: inline; } }
  .main-menu .sns-icon {
    text-align: right; }
    .main-menu .sns-icon a {
      margin: 5px; }
      .main-menu .sns-icon a img {
        max-width: 24px; }
      @media (max-width: 767px ) {
        .main-menu .sns-icon a {
          margin: 3px; }
          .main-menu .sns-icon a img {
            max-width: 20px; } }

.mobile-menu-icon {
  font-size: 25px;
  float: right;
  position: relative;
  top: 5px;
  right: 24px; }

.mobile-menu {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  right: 0;
  left: 0;
  top: 64px;
  bottom: 0;
  z-index: 99999; }

.introductionSection {
  background-color: #EFF2F4;
  min-height: 100vh; }
  .introductionSection .container-fluid {
    padding-top: 20%; }
  .introductionSection .heroimg {
    width: 100%;
    position: relative;
    right: -15px; }
    @media (min-width: 768px) and (max-width:991px) {
      .introductionSection .heroimg {
        right: auto; } }
    @media (max-width: 767px ) {
      .introductionSection .heroimg {
        right: auto; } }
  .introductionSection .contant {
    font-size: 16px;
    padding-left: 20px;
    letter-spacing: 0; }
    .introductionSection .contant span {
      display: block;
      margin-bottom: 20px; }
    @media (min-width: 768px) and (max-width:991px) {
      .introductionSection .contant {
        font-size: 14px;
        padding-left: 0px; } }
    @media (max-width: 767px ) {
      .introductionSection .contant {
        padding-left: 0px; } }

.sourcingSection {
  background-color: #EFF2F4;
  min-height: 100vh; }
  .sourcingSection .sourcingContent {
    position: relative; }
  .sourcingSection .container-fluid {
    padding-top: 10%; }
  .sourcingSection .sourcingimg {
    max-height: 600px;
    border: 2px solid #99195E; }
    @media (max-width: 767px ) {
      .sourcingSection .sourcingimg {
        max-height: 400px; } }
  .sourcingSection b {
    position: absolute;
    bottom: 0;
    font-weight: normal;
    left: 41px;
    font-size: 12px; }
    @media (min-width: 768px) and (max-width:991px) {
      .sourcingSection b {
        position: relative;
        display: inline-block;
        left: auto;
        margin-top: 20px;
        width: 100%;
        text-align: center; } }
    @media (max-width: 767px ) {
      .sourcingSection b {
        position: relative;
        display: inline-block;
        left: auto;
        margin-top: 20px; } }
  .sourcingSection .contant {
    font-size: 16px;
    padding-left: 20px;
    letter-spacing: 0; }
    .sourcingSection .contant span {
      display: block;
      margin-bottom: 20px; }
    @media (min-width: 768px) and (max-width:991px) {
      .sourcingSection .contant {
        font-size: 14px; } }

.projectSection {
  background-color: white; }
  .projectSection .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10%; }
    .projectSection .projects .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 15%; }
    .projectSection .projects .project-cover {
      width: 600px;
      height: 600px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer; }
      @media (min-width: 1200px) and (max-width: 1366px) {
        .projectSection .projects .project-cover {
          width: 500px;
          height: 500px; } }
      @media (min-width: 992px) and (max-width:1199px) {
        .projectSection .projects .project-cover {
          width: 500px;
          height: 500px; } }
      @media (min-width: 768px) and (max-width:991px) {
        .projectSection .projects .project-cover {
          width: 330px;
          height: 330px; } }
      @media (max-width: 767px ) {
        .projectSection .projects .project-cover {
          width: 150px;
          height: 150px; } }
      .projectSection .projects .project-cover span {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        font-size: 46px;
        color: white;
        z-index: 10;
        font-weight: bold;
        cursor: pointer;
        margin: 42% auto;
        text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5); }
        @media (max-width: 767px ) {
          .projectSection .projects .project-cover span {
            font-size: 20px; } }
      .projectSection .projects .project-cover.shanghai {
        border: 1px solid #73FDEA;
        background-position: -49px; }
        .projectSection .projects .project-cover.shanghai:hover span {
          color: #73FDEA; }
      .projectSection .projects .project-cover.bangkook {
        border: 1px solid #FF9300; }
        .projectSection .projects .project-cover.bangkook:hover span {
          color: #FF9300; }
      .projectSection .projects .project-cover.tokyo {
        border: 1px solid #EF5FA7; }
        .projectSection .projects .project-cover.tokyo:hover span {
          color: #EF5FA7; }
      .projectSection .projects .project-cover.singapore {
        border: 1px solid #FF9300;
        background-position: -121px; }
        .projectSection .projects .project-cover.singapore:hover span {
          color: #FF9300; }
      .projectSection .projects .project-cover.hongkong {
        border: 1px solid #73FDEA;
        background-position: -84px; }
        .projectSection .projects .project-cover.hongkong:hover span {
          color: #73FDEA; }
      .projectSection .projects .project-cover.osaka {
        border: 1px solid #FFFC66;
        background-position: -70px; }
        .projectSection .projects .project-cover.osaka:hover span {
          color: #FFFC66; }
      .projectSection .projects .project-cover.chengdu {
        border: 1px solid #00A2FF; }
        .projectSection .projects .project-cover.chengdu:hover span {
          color: #00A2FF; }
      .projectSection .projects .project-cover.beijin {
        border: 1px solid #EE220C;
        background-position: -56px; }
        .projectSection .projects .project-cover.beijin:hover span {
          color: #EE220C; }
      .projectSection .projects .project-cover.taipei {
        border: 1px solid #00A2FF;
        background-position: -56px; }
        .projectSection .projects .project-cover.taipei:hover span {
          color: #00A2FF; }
      .projectSection .projects .project-cover.melbourne {
        border: 1px solid #FF968D;
        background-position: -46px; }
        .projectSection .projects .project-cover.melbourne:hover span {
          color: #FF968D; }

.lb-nav a.lb-next,
.lb-nav a.lb-prev {
  opacity: 1 !important; }
  @media (max-width: 767px ) {
    .lb-nav a.lb-next,
    .lb-nav a.lb-prev {
      background-size: 30px; } }

.lb-data .lb-caption {
  font-size: 18px;
  font-weight: bold;
  line-height: 29px;
  color: white; }

.networkSection {
  min-height: 500px;
  background: #EFF2F4 url("../images/worldmap.png") no-repeat 0 0;
  background-position: 20px 140px;
  background-size: 70%; }
  @media (min-width: 1700px) {
    .networkSection {
      background-position: 20px 275px;
      background-size: 52%; } }
  @media (min-width: 1300px) and (max-width: 1366px) {
    .networkSection {
      min-height: 800px;
      background-position: -5px 103px;
      background-size: 57%; } }
  @media (min-width: 992px) and (max-width:1199px) {
    .networkSection {
      background-position: -35px 140px;
      background-size: 65%; } }
  @media (min-width: 768px) and (max-width:991px) {
    .networkSection {
      background-position: -298px 25px;
      background-size: contain; } }
  @media (max-width: 767px ) {
    .networkSection {
      background-position: -410px -7px;
      background-size: 812px; } }
  .networkSection .networkInfo {
    max-width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 10% 60px 0 0;
    float: right; }
    @media (min-width: 1700px) {
      .networkSection .networkInfo {
        margin: 20% 100px 0 0; } }
    @media (min-width: 1280px) and (max-width: 1366px) {
      .networkSection .networkInfo {
        margin: 10% 50px 0 0; } }
    @media (min-width: 768px) and (max-width:991px) {
      .networkSection .networkInfo {
        margin: 13% 41px 0 0; } }
    @media (max-width: 767px ) {
      .networkSection .networkInfo {
        max-width: 100%;
        float: none;
        margin: 550px auto 10%;
        padding: 37px; } }
    .networkSection .networkInfo .info-list {
      margin-bottom: 20px; }
      .networkSection .networkInfo .info-list dt {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px; }
      .networkSection .networkInfo .info-list dd {
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0; }
      .networkSection .networkInfo .info-list:nth-child(odd) {
        text-align: right; }
      @media (max-width: 767px ) {
        .networkSection .networkInfo .info-list {
          display: inline-block;
          width: 100%; } }

footer {
  background-color: white;
  min-height: 50px;
  padding: 60px 0; }
  footer .footer-menu {
    text-align: center;
    margin-bottom: 30px; }
    footer .footer-menu a {
      font-size: 16px;
      margin: 0 18px; }
