// .sitewidth{
//     width: 1400px;

//     @media(--desktop) {
//         width: 1170px;
//     }
//     @media(--pad) {
//         width: 750px;
//     }
// }

.main-menu {
    background-color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    opacity: 1;
    transition: top 0.3s;

    a {
        color: black;
        font-size: 16px;

        &:hover {
            text-decoration: underline;
        }
    }

    .brand-logo {
        font-weight: bold;
        font-size: 24px;
        text-decoration: none;
        color: black;
        margin-left: 15px;

        @media(--mobile) {
            font-size: 20px;
            margin: 0;
        }
    }


    .menu-list {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;

        li {
            display: flex;
            margin: 0 35px;
            font-size: 20px;
            margin-top: 6px;

            .active {
                color: black;
                font-weight: bold;
            }
        }

        @media(--mobile) {
            float: none;
            margin: 15px 0 0 0px;

            li {
                font-size: 16px;
                margin: 0 10px;
                float: none;
                display: inline;
            }
        }
    }


    .sns-icon {
        text-align: right;

        a {
            margin: 5px;
            img {
                max-width: 24px;
            }

            @media(--mobile){
                margin: 3px;
                img {
                    max-width: 20px;
                }
            }
        }


    }
}

.mobile-menu-icon {
    font-size: 25px;
    float: right;
    position: relative;
    top: 5px;
    right: 24px;
}

.mobile-menu {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    right: 0;
    left: 0;
    top: 64px;
    bottom: 0;
    z-index: 99999;
}


.introductionSection {
    background-color: #EFF2F4;
    min-height: 100vh;

    .container-fluid {
        padding-top: 20%;
    }

    .heroimg {
        width: 100%;
        position: relative;
        right: -15px;

        @media(--pad) {
            right: auto;
        }

        @media(--mobile) {
            right: auto;
        }
    }

    .contant {
        font-size: 16px;
        padding-left: 20px;
        letter-spacing: 0;

        span {
            display: block;
            margin-bottom: 20px;
        }

        @media(--pad) {
            font-size: 14px;
            padding-left: 0px;
        }
        @media(--mobile){
            padding-left: 0px;
        }
    }
}

.sourcingSection {
    background-color: #EFF2F4;
    min-height: 100vh;

    .sourcingContent {
        position: relative;

    }

    .container-fluid {
        padding-top: 10%;
    }

    .sourcingimg {
        max-height: 600px;
        border: 2px solid #99195E;

        @media(--mobile) {
            max-height: 400px;
        }
    }

    b {
        position: absolute;
        bottom: 0;
        font-weight: normal;
        left: 41px;
        font-size: 12px;


        @media(--pad) {
            position: relative;
            display: inline-block;
            left: auto;
            margin-top: 20px;
            width: 100%;
            text-align: center;
        }

        @media(--mobile) {
            position: relative;
            display: inline-block;
            left: auto;
            margin-top: 20px;
        }
    }

    .contant {
        font-size: 16px;
        padding-left: 20px;
        letter-spacing: 0;

        span {
            display: block;
            margin-bottom: 20px;
        }

        @media(--pad) {
            font-size: 14px;
        }


    }
}

.projectSection {
    background-color: white;

    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10%;

        .row {
            display: flex;
            padding-bottom: 15%;
        }

        .project-cover {
            width: 600px;
            height: 600px;
            display: inline-flex;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;

            @media(min-width: 1200px) and (max-width: 1366px) {
                width: 500px;
                height: 500px;
            }

            @media(--desktop) {
                width: 500px;
                height: 500px;
            }

            @media(--pad) {
                width: 330px;
                height: 330px;
            }

            @media(--mobile) {
                width: 150px;
                height: 150px;
            }



            span {
                display: inline-flex;
                font-size: 46px;
                color: white;
                z-index: 10;
                font-weight: bold;
                cursor: pointer;
                margin: 42% auto;
                text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);

                @media(--mobile) {
                    font-size: 20px;
                }
            }

            &.shanghai {
                border: 1px solid #73FDEA;
                background-position: -49px;

                &:hover{
                    span{
                        color: #73FDEA;
                    }
                }
            }

            &.bangkook {
                border: 1px solid #FF9300;

                &:hover{
                    span{
                        color: #FF9300;
                    }
                }
            }

            &.tokyo {
                border: 1px solid #EF5FA7;

                &:hover{
                    span{
                        color: #EF5FA7;
                    }
                }
            }

            &.singapore {
                border: 1px solid #FF9300;
                background-position: -121px;

                &:hover{
                    span{
                        color: #FF9300;
                    }
                }
            }

            &.hongkong {
                border: 1px solid #73FDEA;
                background-position: -84px;

                &:hover{
                    span{
                        color: #73FDEA;
                    }
                }
            }

            &.osaka {
                border: 1px solid #FFFC66;
                background-position: -70px;

                &:hover{
                    span{
                        color: #FFFC66;
                    }
                }
            }

            &.chengdu {
                border: 1px solid #00A2FF;

                &:hover{
                    span{
                        color: #00A2FF;
                    }
                }
            }

            &.beijin {
                border: 1px solid #EE220C;
                background-position: -56px;

                &:hover{
                    span{
                        color: #EE220C;
                    }
                }
            }

            &.taipei {
                border: 1px solid #00A2FF;
                background-position: -56px;


                &:hover{
                    span{
                        color: #00A2FF;
                    }
                }
            }

            &.melbourne {
                border: 1px solid #FF968D;
                background-position: -46px;

                &:hover{
                    span{
                        color: #FF968D;
                    }
                }
            }
        }
    }
}

.lb-nav a.lb-next,
.lb-nav a.lb-prev {
    opacity: 1 !important;

    @media(--mobile) {
        background-size: 30px;
    }
}

.lb-data .lb-caption {
    font-size: 18px;
    font-weight: bold;
    line-height: 29px;
    color: white;
}

.networkSection {
    min-height: 500px;
    background: #EFF2F4 url('../images/worldmap.png')no-repeat 0 0;
    background-position: 20px 140px;
    background-size: 70%;

    @media(--x-desktop) {
        background-position: 20px 275px;
        background-size: 52%;
    }

    @media(min-width: 1300px) and (max-width: 1366px) {
        min-height: 800px;
        background-position: -5px 103px;
        background-size: 57%;
    }

    @media(--desktop) {
        background-position: -35px 140px;
        background-size: 65%;
    }

    @media(--pad) {
        background-position: -298px 25px;
        background-size: contain;
    }

    @media(--mobile) {
        background-position: -410px -7px;
        background-size: 812px;
    }

    .networkInfo {
        max-width: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 10% 60px 0 0;
        float: right;

        @media(--x-desktop) {
            margin: 20% 100px 0 0;
        }

        @media(min-width: 1280px) and (max-width: 1366px) {
            margin: 10% 50px 0 0;
        }

        @media(--pad) {
            margin: 13% 41px 0 0;
        }

        @media(--mobile) {
            max-width: 100%;
            float: none;
            margin: 550px auto 10%;
            padding: 37px;
        }

        .info-list {
            margin-bottom: 20px;

            dt {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            dd {
                font-size: 16px;
                line-height: 21px;
                letter-spacing: 0;
            }

            &:nth-child(odd) {
                text-align: right;
            }

            @media(--mobile) {
                display: inline-block;
                width: 100%;
            }
        }
    }
}

footer {
    background-color: white;
    min-height: 50px;
    padding: 60px 0;

    .footer-menu {
        text-align: center;
        margin-bottom: 30px;

        a {
            font-size: 16px;
            margin: 0 18px;
        }
    }
}